body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-span {
  color: #2e2f42;
}

/* .header-menu-link {

} */
.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-list-link:hover,
.header-list-link:focus{
  color: #404bbf;
}


.contacts {
  font-style: normal;
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.hat {
  background-color: #2E2F42;
  color: #ffffff;
}

.hat-title{
color: #ffffff;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;

}
.hat-btn {
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4D5AE5;
}
.hat button:hover, .hat button:focus{
color: #2f303a;
background-color: #404BBF
}
/* .hat button:focus{
    color: #2E2F42;
    background-color: #ffffff;
} */
.hat p{
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;

  letter-spacing: 0.06em;
  text-align: center;
}


.specifications-li{
  list-style-type: none;
  text-decoration: none;
}
.specifications-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;
  font-style: normal;
}
.specifications-p{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455 ;
  font-size: 16px;
  font-style: normal;
  color: #434455;

}


.team{
  background-color: #f4f4fd;
}
.team-title{
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  font-style: normal;
}
.team-small-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;
  font-style: normal;
}
.team-li{
  text-align: center;
  background-color: #ffffff;
  }
  .team-p{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455 ;
  }


  .portfolio-li {
    text-decoration: none;
    list-style-type: none;
  }
  .portfolio-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    font-style: normal;
  }
  .portfolio-small-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
    font-style: normal;
  }
  .portfolio-p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
    }


    .footer {
      background-color: #2e2f42;
    }
    .footer-logo-span{
      color: #f4f4fd;
    }
    .footer-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    }
    
